# Local VASCA installation
__pycache__
.env
vasca.egg-info

# Pyenv
.python-version

# MacOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints
#*/.ipynb_checkpoints/*

# Spyder
.env.spyproject/
.spyproject/

# Local debugging
development/*
out/*
vasca/examples/gPhoton/out
vasca/examples/Swift_coverage/*.fits
vasca_pipeline*

# Local documentation
build/*

# Documentation
docs/_build
docs/modules.rst
docs/vasca.rst
docs/vasca.test.rst

# Pytest
.pytest_cache
.coverage
coverage.xmluvva/uvva.log

# UVVA legacy
uvva/*
uvva.egg-info

#pipeline example output
vasca/examples/vasca_pipeline*
/vasca/test/resources/6388191295067652096/VASCA_GALEX_6388191295067652096_NUV_field_data.fits
/vasca/test/resources/6388191295067652096/MAST_6388191295067652096_FUV_coadd.fits
/vasca/test/resources/6388191295067652096/MAST_6388191295067652096_FUV_data.fits
/vasca/test/resources/6388191295067652096/MAST_6388191295067652096_FUV_down.ecsv
/vasca/test/resources/6388191295067652096/VASCA_GALEX_6388191295067652096_FUV_field_data.fits
/vasca/test/resources/6388191295067652096/mastDownload/GALEX/6388191295067652096/AIS_491_sg12-fd-int.fits.gz
