.python-version
.pytest_cache
.DS_Store
**/.DS_Store
uvva.egg-info
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**__pycache__**
.env.spyproject/
.env
.spyproject/
uvva/test/default_field.fits
uvva/test/field_default.fits
uvva/myscripts/
development/*
build/*
*.fits
!uvva/test/resources/**/*.fits
*.hdf5
!uvva/test/resources/**/*.hdf5
.coverage
coverage.xmluvva/uvva.log
uvva/output.csv
